<?xml version="1.0" encoding="utf-8"?>
<!--
    ATENÇÃO: Toda Activity nova que você criar precisa ser registrada aqui!
    Já está registrada a ResultadoActivity. Se criar uma terceira tela,
    adicione mais um bloco <activity> igual ao da ResultadoActivity.

    IMPORTANTE:
    O namespace do projeto é definido no arquivo build.gradle (Module: app).
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicativoBase">

        <!-- Tela principal -->
        <!-- Esta é a primeira tela que será aberta quando o aplicativo iniciar -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Tela de resultado -->
        <!-- Responsável por exibir os dados recebidos da MainActivity -->
        <activity
            android:name=".ResultadoActivity"
            android:exported="false" />

        <!-- TODO: Se criar mais telas, copie este bloco e troque o nome -->
        <!--
        <activity
            android:name=".NomeDaSuaActivity"
            android:exported="false" />
        -->
    </application>
</manifest>
